/* ================= LOGIN ONLY ================= */

.login-wrapper{
  padding:70px 20px;
  display:flex;
  justify-content:center;
}

/* LOGIN CARD */
.login-card{
  background:white;
  width:100%;
  max-width:380px;
  padding:30px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  text-align:center;
}

/* TEXT */
.login-card h2{
  font-size:22px;
  margin-bottom:8px;
}

.login-card p{
  color:#475569;
  margin-bottom:25px;
  font-size:15px;
}

/* INPUT GROUP */
.input-group{
  display:flex;
  align-items:center;
  gap:10px;
  background:#f1f5f9;
  padding:14px;
  margin-bottom:15px;
  border-radius:14px;
}

.input-group i{
  color:#38bdf8;
}

.input-group input,
.input-group select{
  border:none;
  outline:none;
  background:transparent;
  width:100%;
  font-size:15px;
}

/* BUTTON */
.login-card button{
  width:100%;
  padding:14px;
  background:#38bdf8;
  border:none;
  border-radius:25px;
  color:white;
  font-size:15px;
  font-weight:bold;
  cursor:pointer;
}

.login-card button:hover{
  background:#0ea5e9;
}

/* NOTE */
.note{
  display:block;
  margin-top:15px;
  font-size:13px;
  color:#475569;
}

/* ================= MOBILE ================= */
/* @media (max-width:768px){
  .login-wrapper{
    padding:50px 16px;
  }

  .login-card{
    max-width:360px;
    padding:26px 20px;
  }

  .login-card h2{
    font-size:20px;
  }

  .login-card p{
    font-size:14px;
  }

  .login-card button{
    font-size:16px;
    padding:13px;
  }
} */
